@import url("page1.css");
@import url("page2.css");
@import url("nyomtat.css") print;

html{
    scroll-padding-top: 70px;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    text-align: justify;
}

h2 {
    margin: 20px 0 20px 0;
    color: rgb(193, 0, 32);
}

h2:first-of-type {
    margin-top: 0;
}


section {
    margin-bottom: 30px;
}

figure {
    text-align: center;
    margin: 30px 0 10px 0;
}

img {
    width: 90%;
    border: 3px solid rgb(84, 83, 83);
}

video {
    width: 100%;
    margin-top: 15px;
    border: 3px solid rgb(84, 83, 83);
}

figcaption {
    margin-top: 5px;
    font-weight: 500;
}

.accessibility {
    background: #ffffff;
}


#navbarLinks a:hover {
    color: rgb(30, 236, 47);
}

.navbar-brand {
    font-weight: 500;
    color: rgb(30, 236, 47);
}

.intro-aside p {
    border-left: 2px solid rgb(40, 124, 241);
    margin-left: 10px;
    padding-left: 40px;
}

#runway-vid,
#figure-vid,
#deepmind-vid,
#anthropic-vid {
    margin-top: 0;
}

@media(min-width: 1210px) {
    #runway-vid
    #figure-vid,
    #deepmind-vid,
    #anthropic-vid {
        margin: 20px 0 20px 0;
    }
}

#content1 p {
    font-weight: 300;
    margin-bottom: 20px;
}

#form-container{
    padding: 100px 0 30px 0;
}


form button{
    margin-top: 15px;
}

footer a {
    text-decoration: none;
    color: rgb(30, 236, 47);
    padding: 5px;
}

@media(min-width: 995px){
    section form{
    border-right: 1px solid gainsboro;
}

#form{
    padding-right: 50px;
}

video{
    margin-top: 30px;
}
}

@media(max-width: 570px) {
    figcaption {
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }

}

@media(max-width: 440px) {
    figcaption {

        font-size: 0.8em;
    }
    footer {
        font-size: 0.8em;
    }
}


@media(max-width: 380px) {
    figcaption {
        font-size: 0.6em;
    }
}
